@import "base/variables";
@import "components/navigation";
@import "components/clock.scss";
@import "components/controls";
@import "components/page-title";

p {
	color: white;
	margin-bottom: 0rem;
}

#mainP{
	color:purple;	
}

